.col-sm {
	margin-left: 400px;
	font-size: 30px;
	}
	
.col-md {
	margin-top: 100px;
	margin-right: 90px;
	}
	
.col-sm-1 {
	margin-top: 50px;
	margin-left: 400px;
	font-size: 30px;
	}
	
.col-sm-4 {
	margin-top: 50px;
	margin-left: 305px;
	}
	
