 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
   <meta charset="UTF-8"/>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
			crossorigin="anonymous">
			
	<head> 
      <title>LogOff</title>
   </head>
   
   <body>
      
     <main  role="main">
  		<span th:insert="navbar :: navbar"/>
		</main>
      
      <b> Close Session? </b>
       <input type="submit" value="Yes" />
        <input type="submit" value="No" />
      
         </body>
   
</html>
      