<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
   <meta charset="UTF-8"/>
			<link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
			<link rel= "stylesheet" type="text/css" media="all"
			th:href="@{/transfers.css}"/>
			
			
 
   </head>
  
   <body>
   <main  role="main">
  		<div th:insert="navbar :: navbar"/>
</main>
		
      <div class="container">
     <h4>Send Money</h4>
     
      <div class="row">
      <div class="col-8">
      </div>
      <div style="text-align:right" class="col-4">
      <a class="btn btn-primary" href="/addConnection" role="button">Add Connection</a>
      </div>
      </div>
      
      
      <form th:action="@{/newTransfer}"
		th:object="${transaction}" method="POST">
		
      
      <div style="color: #E7EDE7; background-color: #E7EDE7;  padding: 20px; margin-top: 10px; margin-bottom: 20px;" class="row" >
      
    <div class="col" >
      <select  class="form-select" th:field="*{receiver_id}" type="number" name= "Select A Connection" id= "Select A Connection">
             <option value=""> Select A Connection </option>
                         <option th:each="friend : ${friends}"
                            th:value="${friend.id}"
                            th:utext="${friend.name}"/>
      </select>
    </div>
    <div class="col">
      <label class="form-label"> </label>
    	<input class="form-control" th:field="*{amount}" type="number" id="amount" name="amount" min="1"/>
    </div>
    <div class="col">
      <input class="form-control-sm" th:field="*{description}" type="text" placeholder="Set Description" aria-label="set description"/>

    </div>
    
   <div class="col">
   <input class="btn btn-success" type="submit" value="Pay"/>
   </div>
  </div>
    
		</form>

      
    	
    	<div class= "transaction"> 
    	<h4> My Transactions </h4>
    	</div> 
    	
    	<table class="table">
  			 <thead class="header">
       				 <tr>
            			<th scope="col">Connections</th>
            			<th scope="col">Description</th>
            			<th scope="col">Amount</th>
        			</tr>
        	</thead>
  				 <tr th:each="transaction : ${transactions}">
  				 		<td scope="row">	
  				 			<span th:utext="${transaction.recipientName}"></span> </td>
                           <td scope="row">  <span th:utext="${transaction.description}"></span> </td>
                         	<td scope="row"> <span th:utext="${transaction.amount}"></span> </td>
                 		 	</tr>
		</table>
      <br/><br/>
      
      <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
      
      
      
      
     <!-- <div th:if="${userInfo != null}" th:utext="${userInfo}"></div> -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
       crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>
    
    </div>
   </body>
   
</html>

 